*{
  font-family: monaco, Consolas, "Lucida Console", monospace;;
  margin: 0;
  padding: 0;
  font-size:0.9em;
}

body{
  background-color: #222;
}

#all{
  color: #2d2;

}

#another{
  width: 500px;
  height: 400px;
  float: right;
}

a{
  color: #e4e;
}

h1,h2,p{
  margin: 1px;
}

h1,h2{
  margin-left: 10px;
}

h1{
  margin-top: 10px;
  font-size: 1em;
}

.nav{
  color: #77c
}

.dir{
  color: #c77;
}

.discription{
  color: #ddd;
}
